<!DOCTYPE html>
<html>
<head>
	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">	
</head>
<body>
	<div class="container">
		<table class="table">
			<tr>
				<th>Title</th>
				<th>Award</th>
			</tr>
			<% dvds.forEach(function(item, index) { %>
			<tr>
				<td> <%= item.title %></td>
				<td> <%= item.award %></td>
			</tr>
			<% }); %>
		</table>

	</div>
</body>
</html>