<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">	
</head>
<body style="width: 100%; height: 100%;">
	<div style="top: 30%; left: 40%; position: absolute;">
	
	<H1> SEARCH HERE </h1>
	<form method="get" action="/dvds">
		Title: <input type="text" name="title">
		<select name="award">
		  <option value="oscar">Oscar</option>
		  <option value="grammy">Grammy</option>
		</select>
		<input type="submit" value="Submit"> 
	</form>	

</div>
</body>
</html>

